.body {
    background-image: url('./../../images/landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: -23px;
    margin-bottom: -23px;
}

.filters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reset_button {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}