.body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}

.paginated {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: fixed
}
