.background {
    background-image: url('../../images/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -22px;
}

.button {
    /* glass effect background */
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.landing_page {
    /* glass effect */
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-self: flex-start;
    /* align to the left */
    margin-left: 400px;
    margin-top: -180px;
    height: 150px;
    width: 300px;

}